@font-face {
	font-family: Resolute-nf;
	src: url('./font/Resolute-NF.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#loader {
  bottom: 0;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #03071e;
  z-index: 3;
}

#loader ul {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 999999;
  margin: 0;
}

@keyframes preload {
  0% {
    background: #ff0080;
    opacity: 1
  }
  50% {
    background: #fff;
    opacity: 0.5
  }
  100% {
    background: #ff0080;
    opacity: 1
  }
}

#loader #loading {
  display: block;
  height: 14px;
  margin: 0 auto;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  padding: 0;
}

#loader #loading li {
  background: #fff;
  opacity: 0.5;
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  border: 1px solid #d4006a;
  line-height: 12px;
  padding: 0;
  position: relative;
  margin: 0 0 0 4px;
  animation: preload 1s infinite;
  top: -50%;
  border-radius: 50%;
}

#loader #loading li:first-child {
  margin-left: 0
}

#loader #loading li:nth-child(2) {
  animation-delay: .15s
}

#loader #loading li:nth-child(3) {
  animation-delay: .3s
}

#loader#loader-complete {
  opacity: 0;
  visibility: hidden;
  transition-duration: 1s
}

body {
  font-family: 'Roboto Mono',monospace;
  height: 100%;
  text-align:center;
  background-color: #03071e;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #5e5e5e;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #610003;
}

::-webkit-scrollbar-thumb:active {
  background: #610003;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

::-webkit-scrollbar-track:active {
  background: #ffffff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.container {
  text-align: center;
  min-height: 100%;
  position: relative;
}

#page-title {
  margin-left: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
  position: fixed;
  background-color: #010414;
  z-index: 2;
  top: 0;
}

header ul {
  list-style-type: none;
  margin-right: 30px;
  display: flex;
  justify-content: center;
}

header ul a {
  text-decoration: none;
  border: none;
}

header ul li button {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color:rgb(255, 255, 255);
  background-color: #00000055;
  padding: 15px 25px;
  border-radius: 2px;
  color:rgba(255, 255, 255, 0.521);
}

header ul li button:hover {
  text-decoration: none;
  background-image: linear-gradient(#12025a43, #ff008043);
  cursor: pointer;
  color:rgba(255, 255, 255, 0.781);
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5) ;
  
}

header ul li button.active {
  text-decoration: none;
  background-image: linear-gradient(#12025a, #ff0080);
  cursor: pointer;
  color:#FFF;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5) ;
}

header ul li button:first-child{
	border:none;
	box-shadow: none;
}

.body-content {
  margin-bottom: 110px;
}

.page-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-family: Resolute-nf;
  font-size: 33px;
  margin: 7px 25px 7px 0;
}

.gradient {
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(#001fff, #8406d6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#logo_link {
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-image: linear-gradient(#12025a, #ff0080);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.page-title:hover {
  cursor: pointer;
}

.page-title:hover #logo_link {
  cursor: pointer;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.4s;
  background-image: linear-gradient(#18027c, #ff359a);
}

#play_button {
  width: 33px;
  margin: 1px 0 0 6px;
}

#controle {
  width: 42px;
  height: 42px;
}

.popUp {
  display: none;
  position: fixed; 
  z-index: 2; 
  top:0;
  left:0;
  min-width: 100%; 
  height: 100%;
  background-color: #03071E;
  overflow-x: hidden;
}

.popUp-content {
  color: #FFFFFF;
  background-color: #03071E;
  min-width: 100%; 
  margin: 10px;
}

.close {
  color: #aaaaaa;
  float: left;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 30px;
  margin: 0 40px;
}

.close:hover,
.close:focus {
  color: rgb(143, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_categorias {
  font-family: Arial, Helvetica, sans-serif, Courier, monospace;
  color:rgb(255, 255, 255);
  text-align: left;
  position: relative;
  left: 22px;
}

.categorias {
  font-family: Arial, Helvetica, sans-serif, Courier, monospace;
  color:rgb(255, 255, 255);
  position: absolute;
  width: 405px;
  top: -30px;
}

.filmes {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  padding-top: 30px;
  margin: 0 15px;
  margin-top: 10px;
}

.arrow_btn {
  position: absolute;
  color: rgba(255, 255, 255, 0.603);
  font-size: 5em;
  width: 35px;
  height: 365px;
  padding: 5px;
  z-index: 1;
  border: none;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.arrow_btn.active:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s;
  cursor: pointer;
  font-size: 5.4em;
}

.arrow_btn.inactive {
  display: none;
}

.arrow_btn:nth-of-type(1) {
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.222) 100%);
}

.arrow_btn:nth-of-type(2) {
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.222) 100%);
}

.arrow_btn:hover:nth-of-type(1) {
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.555) 100%);
}
.arrow_btn:hover:nth-of-type(2) {
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.555) 100%);
}

.poster, .poster_j {
  margin: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  width: 245px;
  height: 347px;
}

.poster:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.04);
  border-color: #3cb371;
}

.poster_j:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.04);
  border-color: #6a040f;
}


.link_requisitos {
  margin-top: 30px;
  width: 150px;
}

.btn_requisitos {
  width: 150px;
  padding: 10px; 
  /* background: #370617; */
  /* background-image: linear-gradient(#12025a, #ff0080); */
  /* background: #030519; */
  /* color: #FFFFFF;
  border-radius: 17px;
  font-size: 15px; */
	background-color:#0000006b;
	border-radius:17px;
	border:1px solid rgb(16, 28, 44);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.btn_requisitos:hover {
  cursor: pointer;
	background-color:#050a3b;
  border:1px solid #1f2f47;
  /* background: #03071E; */
}

.btn_requisitos.active {
  position:relative;
	top:1px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:2;  
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup_requisitos {
  margin: 70px auto;
  padding: 20px;
  /* background: #370617; */
  background: #030519;
  border-radius: 5px;
  max-width: 75%;
  min-height: 60%;
  transition: all 2s ease-in-out;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.popup_requisitos h2 {
  color: #add8e6;
  /* color: #e6adad; */
}

.popup_requisitos .close_ {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff9e;
}

.popup_requisitos .close_:hover {
  color: rgb(160, 0, 0);
}

.popup_requisitos .content {
  max-height: 30%;
  overflow: auto;
}

.popup_requisitos dl {
  margin-right: 20px;
  text-align: left;
  font-size: 17px;
}

.popup_requisitos dl dt {
  color: #ffffff9e;
  line-height: 25px;
  margin-top: 15px;
}

.popup_requisitos dl dd {
  color: #fff;
  line-height: 30px;
}

.requisitos {
  margin: 30px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer{
  background: #6a040f;
  font-size: 13px;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

footer a .contato_logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

footer .contato_logo {
  height: 36px;
  width: 36px;
  margin: 0 10px;
}

footer p {
  margin-top: 10px;
  color: #ffffff;
  font-size: 13px;
}
