@font-face {
	font-family: Resolute-nf;
	src: url('./font/Resolute-NF.ttf');
}

body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5c1ddab47e3c3abf96dbc736/1545462313058-JRYJOHUCS8PQ9AIRMWQI/ke17ZwdGBToddI8pDm48kIgcZM_kEzIAwBZ1WPPPOMkUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcfu4ulbBaJ7BXzvPXUWXSAlPOkKAqNuwsHeLpw-PkC0PopNRAjB6vZ-P37SDRnx7r/Background-Narrow.jpg?format=2500w');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;

  min-height: 100%;
  position: relative;
}

.body-content {
  padding-bottom: 60px;
}

.page-title, h1 {
  font-family: 'Times New Roman', Times, serif;
}

.page-title {
  text-align: center;
  font-family: Resolute-nf;
  font-size: 33px;
  margin: 7px 25px 7px 0;
}

.gradient {
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  /* fundo gradiente */
  background-image: linear-gradient(#001fff, #8406d6);
  /* agora colocamos o fundo gradiente dentro do texto com essa propriedade */
  background-clip: text;
  -webkit-background-clip: text;
  /* a cor do texto deve estar como transparent */
  color: transparent;
}

#logo_link {
  margin-right: 10px;
  text-decoration: none;
  background-image: linear-gradient(#12025a, #ff0080);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}

#logo_link:hover {
  text-decoration: none;
  cursor: pointer;
  transition: 1s;
  transform: scale(1.1);
  background-image: linear-gradient(#1a2157, #e70ee7);
}

#play_button {
  width: 33px;
  margin: 1px 0 0 6px; 
  position: absolute;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  margin-top: 10px;
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}


.popUp {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  top:0;
  left:0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #000000bd; 
}

/* Modal Content */
.popUp-content {
  color: #FFFFFF;
  background-color: #030d2ee1;
  margin: auto;
  padding: 10px;
  border: 1px solid rgb(102, 1, 1);
  border-radius: 3px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: left;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 30px;
}

.close:hover,
.close:focus {
  color: rgb(168, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.div_poster {
  display:inline-block;
  position:relative;
}

.button_poster {
  visibility:hidden;
  position:absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  top:45%;
  left:50%;
  -webkit-transform:translate3d(-50%, -50%, 0);
  -moz-transform:translate3d(-50%, -50%, 0);
  transform:translate3d(-50%, -50%, 0);
  color: #FFFFFF;
  opacity: 0.6;
  font-family: Brush Script MT;
  font-size: 25px;
  font-weight: 100;
  padding: 5px;
  background-color: #20282b86;
  text-shadow: 6px 1px 4px #000000;
  cursor: pointer;
}

.button_more {
  visibility:hidden;
  position:absolute;
  top:60%;
  left:50%;
  -webkit-transform:translate3d(-50%, -50%, 0);
  -moz-transform:translate3d(-50%, -50%, 0);
  transform:translate3d(-50%, -50%, 0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  opacity: 0.6;
  font-family: Brush Script MT;
  font-size: 25px;
  font-weight: 100;
  padding: 5px;
  background-color: #20282b86;
  text-shadow: 6px 1px 4px #000000;
  cursor: pointer;
}

.button_poster:hover, .button_more:hover {
  opacity: 1.0;
  font-size: 27px;
  background-color: #ffffff93;
  text-shadow: none;
  color:rgb(0, 13, 71);
  padding: 7px;
}


.poster {
  margin: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
}

.div_poster:hover > .poster {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.08);
  border-color: #3cb371;
}

.div_poster:hover button  {
  visibility: visible;
}

.fixar_rodape {
  margin-top: 5%;
}

footer{
  
  background: rgb(125, 20, 30);
  font-size: 13px;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p {
  padding: 5px 0 0;
  color: #FFFFFF;
}