@font-face {
	font-family: Resolute-nf;
	src: url('./font/Resolute-NF.ttf');
}

body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5c1ddab47e3c3abf96dbc736/1545462313058-JRYJOHUCS8PQ9AIRMWQI/ke17ZwdGBToddI8pDm48kIgcZM_kEzIAwBZ1WPPPOMkUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcfu4ulbBaJ7BXzvPXUWXSAlPOkKAqNuwsHeLpw-PkC0PopNRAjB6vZ-P37SDRnx7r/Background-Narrow.jpg?format=2500w');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;

  min-height: 100%;
  position: relative;
}

.body-content {
  padding-bottom: 60px;
}

.page-title, h1 {
  font-family: 'Times New Roman', Times, serif;
}

.page-title {
  text-align: center;
  font-family: Resolute-nf;
  font-size: 33px;
  margin: 7px 25px 7px 0;
}

#logo_link {
  margin-right: 10px;
  text-decoration: none;
  color: #f62bfd;
  text-shadow: 3px 3px black;
}

#logo_link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ee37ffd8;
  text-shadow: 3px 3px black;
  transition: 0.4s;
  transform: scale(1.1);
}

#play_button {
  width: 33px;
  margin: 1px 0 0 6px; 
  position: absolute;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  margin-top: 10px;
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.poster:not(.alura-logo, #play_button) {
  margin: 10px;
  border: 2px solid white;
  border-radius: 3px;
}

.poster:hover:not(.alura-logo, #play_button) {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
  border-color: #3cb371;
}

#divMenu {
  font:normal 20pt Calibri;
  border:1px dotted blue;
  width:200px;
  padding:0;
  position:absolute;
  background:rgba(133, 192, 242, 0.54);
  background-position:-1100px -200px;
  visibility:hidden;
}

#divMenu ul{
  list-style-type:none;
  margin:0;
  line-height:50px;
  padding:0;
  text-align:center;
}

#divMenu > ul > li {
  cursor:pointer;
}

#divMenu > ul > li:hover {
  background-color:rgba(133, 192, 242, 0.7);
}

.fixar_rodape {
  margin-top: 5%;
}

footer{
  
  background: rgb(125, 20, 30);
  font-size: 13px;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p {
  padding: 5px 0 0;
  color: #FFFFFF;
}